sdgsdg

# This panel uses Markdown
https://en.wikipedia.org/wiki/Markdown

##sdfsdf

* Note: I need to re-name the Main.offence column in the csv files to 'MainOffence'

In [8]:
# Section must be included at the beginning of each new notebook. Remember to change the app name. 
# If you're using VirtualBox, change the below to '/home/user/spark-2.1.1-bin-hadoop2.7'
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('childandyouthjustice').getOrCreate()

In [9]:
# Let's read in the data. If you open the dataset, you'll find that each column has a header. We specify that by stating that header=True.
# To make our lives easier, we can also use 'inferSchema' when importing CSVs. This automatically detects data types.
# If you would like to manually change data types, refer to this article: https://medium.com/@mrpowers/adding-structtype-columns-to-spark-dataframes-b44125409803
#
# Child and Youth Court Charges / Outcome
df_7361 = spark.read.csv('Datasets/7361_repeated.csv',header=True,inferSchema=True)

# Child and Youth Court Orders
df_7362 = spark.read.csv('Datasets/7362_repeated.csv',header=True,inferSchema=True)

In [10]:
# The show method allows you visualise DataFrames in a tabular format. 
#
# Child and Youth Court Charges / Outcome
df_7361.show()

# Child and Youth Court Orders
df_7362.show()

+-------+----+--------------------+---+------+---------+--------------------+-----+-----+
|    _c0|Year|         MainOffence|Age|Gender|Ethnicity|             Outcome|Value|Flags|
+-------+----+--------------------+---+------+---------+--------------------+-----+-----+
| 2892.0|1992|Public Order Offe...| 14|Female| European|Convicted and sen...|    1|   NA|
| 2602.0|1992|Unlawful Entry Wi...| 14|Female| European|           Dismissed|    1|   NA|
| 2648.0|1992|Theft And Related...| 14|Female| European|Youth Court prove...|    1|   NA|
| 2558.0|1992|Unlawful Entry Wi...| 14|Female| European|Youth Court prove...|    1|   NA|
| 2838.0|1992|Property Damage A...| 14|Female| European|Youth Court prove...|    1|   NA|
| 2672.0|1992|Theft And Related...| 14|Female| European|Youth Court prove...|    1|   NA|
| 2582.0|1992|Unlawful Entry Wi...| 14|Female| European|Youth Court prove...|    1|   NA|
|20523.0|1992|Dangerous Or Negl...| 15|Female| European|Convicted and sen...|    1|   NA|
|20955.0|1992|Illicit Drug Offe...| 15|Female| European|Convicted and sen...|    1|   NA|
|21302.0|1992|Offences Against ...| 15|Female| European|Convicted and sen...|    1|   NA|
|20946.0|1992|Illicit Drug Offe...| 15|Female| European|           Dismissed|    1|   NA|
|21312.0|1992|Miscellaneous Off...| 15|Female| European|       Other outcome|    1|   NA|
|20507.0|1992|Dangerous Or Negl...| 15|Female| European|           Withdrawn|    1|   NA|
|20908.0|1992|Fraud, Deception ...| 15|Female| European|           Withdrawn|    1|   NA|
|20818.0|1992|Theft And Related...| 15|Female| European|           Withdrawn|    1|   NA|
|20364.0|1992|Acts Intended To ...| 15|Female| European|Youth Court prove...|    1|   NA|
|20871.0|1992|Fraud, Deception ...| 15|Female| European|Youth Court prove...|    1|   NA|
|21027.0|1992|Property Damage A...| 15|Female| European|Youth Court prove...|    1|   NA|
|21103.0|1992|Public Order Offe...| 15|Female| European|Youth Court prove...|    1|   NA|
|20766.0|1992|Theft And Related...| 15|Female| European|Youth Court prove...|    1|   NA|
+-------+----+--------------------+---+------+---------+--------------------+-----+-----+
only showing top 20 rows

+-------+----+---+--------------------+------+---------+--------------------+-----+-----+
|    _c0|Year|Age|         MainOffence|Gender|Ethnicity|               Order|Value|Flags|
+-------+----+---+--------------------+------+---------+--------------------+-----+-----+
| 1633.0|1992| 14|Theft And Related...|Female| European| Discharge, admonish|    1|   NA|
| 1674.0|1992| 14|Public Order Offe...|Female| European|Monetary, confisc...|    1|   NA|
| 1660.0|1992| 14|Property Damage A...|Female| European|Supervision with ...|    1|   NA|
| 1615.0|1992| 14|Theft And Related...|Female| European|Supervision, comm...|    1|   NA|
| 1574.0|1992| 14|Unlawful Entry Wi...|Female| European|Supervision, comm...|    1|   NA|
|13857.0|1992| 15|Illicit Drug Offe...|Female| European|     Adult sentences|    1|   NA|
|13636.0|1992| 15|Dangerous Or Negl...|Female| European|Monetary, confisc...|    1|   NA|
|13982.0|1992| 15|Offences Against ...|Female| European|Monetary, confisc...|    1|   NA|
|13912.0|1992| 15|Public Order Offe...|Female| European|Monetary, confisc...|    1|   NA|
|13788.0|1992| 15|Theft And Related...|Female| European|Monetary, confisc...|    1|   NA|
|13883.0|1992| 15|Property Damage A...|Female| European|Supervision with ...|    1|   NA|
|13666.0|1992| 15|Abduction, Harass...|Female| European|Supervision, comm...|    1|   NA|
|13587.0|1992| 15|Acts Intended To ...|Female| European|Supervision, comm...|    1|   NA|
|13911.0|1992| 15|Public Order Offe...|Female| European|Supervision, comm...|    1|   NA|
|13772.0|1992| 15|Theft And Related...|Female| European|Supervision, comm...|    1|   NA|
|30681.0|1992| 16|Acts Intended To ...|Female| European|     Adult sentences|    1|   NA|
|31079.0|1992| 16|Fraud, Deception ...|Female| European|     Adult sentences|    1|   NA|
|30654.0|1992| 16|Homicide And Rela...|Female| European|     Adult sentences|    1|   NA|
|30990.0|1992| 16|Theft And Related...|Female| European|     Adult sentences|    1|   NA|
|30810.0|1992| 16|Dangerous Or Negl...|Female| European| Discharge, admonish|    1|   NA|
+-------+----+---+--------------------+------+---------+--------------------+-----+-----+
only showing top 20 rows

In [11]:
# Child and Youth Court Charges / Outcome
# Print schema allows us to visualise the data structure at a high level. 
df_7361.printSchema()

# We can also use head to print a specific amount of rows, so we can get a better understanding of the data points. 
# Note that we have to specify 'print' depending on the method we're using. Otherwise it may not show up!
print(df_7361.head(1))

# Child and Youth Court Orders
df_7362.printSchema()

print(df_7362.head(1))

root
 |-- _c0: double (nullable = true)
 |-- Year: integer (nullable = true)
 |-- MainOffence: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Ethnicity: string (nullable = true)
 |-- Outcome: string (nullable = true)
 |-- Value: integer (nullable = true)
 |-- Flags: string (nullable = true)

[Row(_c0=2892.0, Year=1992, MainOffence='Public Order Offences', Age='14', Gender='Female', Ethnicity='European', Outcome='Convicted and sentenced in adult court', Value=1, Flags='NA')]
root
 |-- _c0: double (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Age: string (nullable = true)
 |-- MainOffence: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Ethnicity: string (nullable = true)
 |-- Order: string (nullable = true)
 |-- Value: integer (nullable = true)
 |-- Flags: string (nullable = true)

[Row(_c0=1633.0, Year=1992, Age='14', MainOffence='Theft And Related Offences', Gender='Female', Ethnicity='European', Order='Discharge, admonish', Value=1, Flags='NA')]

In [12]:
# We can use the describe method get some general statistics on our data too. 
#df_7361.describe().show()
df_7362.describe().show()

+-------+------------------+------------------+------------------+--------------------+-------+---------+--------------------+------------------+-----+
|summary|               _c0|              Year|               Age|         MainOffence| Gender|Ethnicity|               Order|             Value|Flags|
+-------+------------------+------------------+------------------+--------------------+-------+---------+--------------------+------------------+-----+
|  count|             32622|             32622|             32622|               32622|  32622|    32622|               32622|             32622|32622|
|   mean|26272.849303384657|2002.6193059898228|  15.5182772460636|                null|   null|     null|                null|17.258966341732574| null|
| stddev|11825.173925250825|  6.48640300177954|0.6864172219737754|                null|   null|     null|                null|24.965811669508636| null|
|    min|              15.0|              1992|          12 to 13|Abduction, Harass...| Female| European|     Adult sentences|                 1|   NA|
|    max|           51202.0|              2017|           Unknown|Unlawful Entry Wi...|Unknown|  Unknown|Supervision, comm...|               144|   NA|
+-------+------------------+------------------+------------------+--------------------+-------+---------+--------------------+------------------+-----+

In [13]:
# Let's select the columns that are integers, and use the describe method again.
# We see that the average age is 41. The average bank account balance is $1,074. 
# And they spoke to call centre reps for approx. 931 seconds on average. 
df_7361.select('Year', 'Age', 'MainOffence').describe().show()

+-------+------------------+------------------+--------------------+
|summary|              Year|               Age|         MainOffence|
+-------+------------------+------------------+--------------------+
|  count|             86238|             86238|               86238|
|   mean|2003.7363227347573| 15.39769852281074|                null|
| stddev| 6.633745376331196|0.7447230368646932|                null|
|    min|              1992|          12 to 13|Abduction, Harass...|
|    max|              2017|           Unknown|Unlawful Entry Wi...|
+-------+------------------+------------------+--------------------+

In [14]:
# Let's select the balance column and assign it to a variable. 
Year_col = df_7361.select('Year')

# We can then use the show method on that variable.
Year_col.show()

+----+
|Year|
+----+
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
|1992|
+----+
only showing top 20 rows

In [15]:
# We can also add columns and manipulate the DataFrame. Let's times balance by 10, and add the output to a new column.
df_7361.withColumn('YearGroup',df_7361['Year']*10).show()

# Question: If we print the df DataFrame again, why is the 'balance_times_10 column' missing?
df_7361.show()

NameError: name 'df' is not defined